<div class="container-dash">


  <div class="container-welcome">
  
    <h2> <strong class="welcome">  Bienvenido  </strong> <span> {{ user && user.names}} 😃 </span> </h2>

   <div class="contact">
    <nz-tag nzColor="#55acee">
      <i nz-icon nzType="twitter"></i>
      <span>Twitter</span>
    </nz-tag>
    <nz-tag nzColor="#cd201f">
      <i nz-icon nzType="youtube"></i>
      <span>Youtube</span>
    </nz-tag>
    <nz-tag nzColor="#3b5999">
      <i nz-icon nzType="facebook"></i>
      <span>Facebook</span>
    </nz-tag>
    <nz-tag nzColor="#55acee">
      <i nz-icon nzType="linkedin"></i>
      <span>LinkedIn</span>
    </nz-tag>
   </div>
  </div>
  <br>


  <div class="statists">
        <div class="card-s">                    
          <h2> 
            <!-- <i nz-icon nzType="alert" nzTheme="twotone"></i> -->
            <i nz-icon nzType="pie-chart" nzTheme="twotone"></i>
               400 Ofertas  </h2>
               <p> Actualizado: 2021/03/20  </p>       
        </div>
        <div class="card-s">                    
          <h2> 
            <i nz-icon nzType="heart" nzTheme="twotone" [nzTwotoneColor]="'#a31600'"  ></i>
               3,020 Candidatos </h2>
               <p> Actualizado: 2021/03/20  </p>
        </div>
           <div class="card-s">                    
          <h2> 
            <i nz-icon nzType="alert" nzTheme="twotone"></i>
               10,020 Quejas </h2>
               <p> Actualizado: 2021/03/20  </p>
        </div>          
  </div>
  
  <div class="charts">

    <div class="chart-ele">

      <div class="chartjs-block">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>

    </div>


    <div class="chart-ele">

      <div class="chart-wrapper">
        <canvas baseChart 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [colors]="barChartColors" 
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>

    </div>

    <div class="chart-ele">
      <div class="chart-wrapper">
        <canvas baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>
    </div>
    </div>

    <div class="chart-ele">

      <div class="chartjs-block">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </div>

    </div>

    


    </div>

  
    
  

</div>