<div class="background">
  <div class="container">
    <!-- <div class="panel pricing-table"> -->

    <!-- <div class="pricing-plan">
          <img src="assets/images/avatar.png" alt="" width="128" class="pricing-img">
          <h2 class="pricing-header"> Reclutamiento objetivo</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">Custom domains</li>
            <li class="pricing-features-item">Sleeps after 30 mins of inactivity</li>
          </ul>
          <span class="pricing-price">Free</span>
          <a href="#/" class="pricing-button">Comenzar</a>
        </div>
        
        <div class="pricing-plan">
          <img src="assets/images/diversidad.png" width="128" alt="" class="pricing-img">
          <h2 class="pricing-header">Reclumiento profesional</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">Never sleeps</li>
            <li class="pricing-features-item">Multiple workers for more powerful apps</li>
          </ul>
          <span class="pricing-price">$150</span>
          <a href="#/" class="pricing-button is-featured">Comenzar</a>
        </div>
        
        <div class="pricing-plan">
          <img src="assets/images/oficina.png" alt="" width="128" class="pricing-img">
          <h2 class="pricing-header">Reclutamiento masivo</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">Dedicated</li>
            <li class="pricing-features-item">Simple horizontal scalability</li>
          </ul>
          <span class="pricing-price">$400</span>
          <a href="#/" class="pricing-button">Comenzar</a>
        </div>
        
      </div> -->

    <main>
      <article>
    

        <section class="about" id="about">
          <div class="container">
            <div class="about-content">
              <p class="section-subtitle">Acerca de nosotros</p>

              <h2 class="about-title">
                Únase al mercado creativo donde millones de compradores gastan
                miles de millones cada año comprando directamente a
                emprendedores creativos como usted.
              </h2>

              <p class="about-text">Comience a vender hoy</p>

              <div class="about-group">
                <div class="about-element">
                  <div class="img-about-e">
                    <img
                      src="https://img0.etsystatic.com/site-assets/sell-page/Sell_Page_Icon_Great_Value.svg"
                    />
                  </div>

                  <div class="img-about-t">
                    <h2>Gran valor</h2>
                    <p>
                      Publique su primer artículo por solo $ 0.20: solo paga las
                      tarifas de transacción, procesamiento de pagos y
                      publicidad externa cuando realiza una venta.
                    </p>
                    <p><a href="">Leer mas</a></p>
                  </div>
                </div>

                <div class="about-element">
                  <div class="img-about-e">
                    <img
                      src="https://img0.etsystatic.com/site-assets/sell-page/Sell_Page_Icon_Tools.svg"
                    />
                  </div>

                  <div class="img-about-t">
                    <h2>Apoyo y educación</h2>
                    <p>
                      Ponte en contacto con los especialistas de asistencia de
                      Etsy cada vez que necesites ayuda y obtén consejos sobre
                      cómo administrar una tienda exitosa en nuestro Manual del
                      vendedor.
                    </p>
                    <p><a href="">Leer mas</a></p>
                  </div>
                </div>

                <div class="about-element">
                  <div class="img-about-e">
                    <img
                      src="https://img0.etsystatic.com/site-assets/sell-page/Sell_Page_Icon_Education.svg"
                    />
                  </div>

                  <div class="img-about-t">
                    <h2>Herramientas poderosas</h2>
                    <p>
                      Nuestras herramientas y servicios facilitan la
                      administración, la promoción y el crecimiento de su
                      negocio.
                    </p>
                    <p><a href="">Leer mas</a></p>
                  </div>
                </div>
              </div>

              <p class="callout">
                "Enimad minim veniam quis nostrud exercitation llamco laboris.
                Lorem ipsum dolor sit amet"
              </p>

              <div class="img-selling">
                <div class="img-sell">
                  <img
                    width="50px"
                    src="https://img0.etsystatic.com/site-assets/sell-page/Sell_Page_Icon_Congrats2.svg"
                  />

                  <p class="sell-a-text">Comience a vender hoy</p>

                  <button class="button-9" role="button">Vender</button>
                </div>
              </div>
            </div>
          </div>
        </section>




      <section class="tour-search">
        <div class="container">

          <div class="title-fees">
            <h1> Sencillo, transparente, seguro </h1>
          </div>


          <div class="line"></div>
          <div class="content-features-search">

            <div class="content-features-element">

              <div class="element-f">
                Sin cuotas mensuales adicionales
              </div>

              <div class="element-f">
                Depósitos automáticos
              </div>

            </div>


            <div class="content-features-element">

              <div class="element-f">
                Transacciones seguras
              </div>

              <div class="element-f">
                Protección del vendedor
              </div>

            </div>

          </div>
          <div class="line"></div>

          <div class="f-content">

            <div class="f-element">
              <div class="f-icon">
                <img width="50px" class="f-img" src="https://cdn-icons-png.flaticon.com/512/1087/1087080.png">
              </div>
              <div class="f-text">
                <div class="title-f">
                  <h3> MX$4.10 * Tarifa de cotización </h3>
                </div>
                <div class="text-f">
                  <p>
                    Los listados están activos durante cuatro meses, o hasta que se venden.
                  </p>
                </div>
              </div>

            </div>


            <div class="f-element">
              <div class="f-icon">
                <img width="50px" class="f-img"
                  src="https://cdn-icons-png.flaticon.com/512/4334/4334638.png">
              </div>
              <div class="f-text">
                <div class="title-f">
                  <h3> Tarifa de anuncios fuera del sitio del 15 %* </h3>
                </div>
                <div class="text-f">
                  <p> Etsy paga para anunciar tus artículos en la web a través de anuncios externos. Solo paga una tarifa cuando realiza una venta de uno de esos anuncios. Más información sobre las tarifas de publicidad </p>
                </div> 
              </div>

            </div>

            <div class="f-element">
              <div class="f-icon">
                <img width="50px" class="f-img" src="https://cdn-icons-png.flaticon.com/512/391/391064.png">
              </div>
              <div class="f-text">
                <div class="title-f">
                  <h3> 6.5 % comisión por transacción, 4.5 % + MX$10.00 comisión por procesamiento de pago </h3>
                </div>
                <div class="text-f">
                  <p>Cuando vende un artículo, hay una pequeña comisión y una tarifa de procesamiento de pago estándar.</p>
                </div>
              </div>

            </div>



          </div>


          <div class="candado">
            <div class="c-icon">
              <img class="c-img" src="https://img0.etsystatic.com/site-assets/sell-page/Sell_Page_Icon_Security2.svg">
            </div>

            <div class="c-text">
              Procesamos los pagos en nuestra plataforma segura con encriptación SSL y contamos con especialistas en seguridad y fraude
              sistemas de detección para protegerte a ti y a tus compradores 24/7.
            </div>

          </div>


          <div class="more-information-c">
            <div class="m-element">
              <p> * Las tarifas de listado se facturan por $ 0.20 USD, por lo que la cantidad en su moneda puede variar según los cambios en
                la
                tipo de cambio. Las tarifas de procesamiento de pagos varían según el país del banco.</p>
            </div>

            <div class="m-element">
              <p>
                La publicidad fuera del sitio es opcional para la mayoría de los vendedores, pero puede ser necesaria en función de cuánto gane en
                 ventas en Etsy en un período de 12 meses. Visite nuestro Centro de ayuda para obtener más detalles sobre las tarifas de anuncios externos.
              </p>
            </div>


          </div>



        </div>
      </section>


      <section class="about" id="about">
        <div class="container">
          <div class="about-content">
            <p class="section-subtitle">Soporte</p>

            <h2 class="h2 section-title">Te ofrecemos ayuda</h2>

            <p class="about-text">
              ¡Sí! Envíame ofertas exclusivas, ideas de regalos únicas y consejos personalizados para comprar y vender en Etsy.
            </p>


            <div class="tools-content">

              <div class="tools-element">
                <div class="tools-text">

                  <h2>Herramientas sencillas y potentes</h2>
                  <p class="subt-l">Dedique menos tiempo a administrar su tienda y más tiempo a las cosas divertidas.</p>

                  <div class="title-sub">
                    <h4>Gestiona tu negocio desde cualquier lugar</h4>
                  </div>
                  <p class="subtitle">
                  Usa la aplicación para vendedores de Etsy para administrar pedidos, editar listados y responder a los compradores al instante, desde
                   en cualquier sitio.
                  </p>

                  <div class="title-sub">
                    <h4>Acepte pagos sin problemas</h4>
                  </div>
                  <p class="subtitle">
                  Atrae a más compradores en Etsy y más allá con Anuncios Promocionados y herramientas gratuitas de redes sociales.
                  </p>


                  <div class="title-sub">
                    <h4>Analiza y optimiza tu tienda</h4>
                  </div>

                  <p class="subtitle">
                  Acceda a estadísticas detalladas sobre el rendimiento de su tienda para ayudarlo a aumentar sus ventas.
                  </p>

                </div>

                <div class="tools-img">
                  <img class="img-tools" width="500px"
                    src="https://img0.etsystatic.com/site-assets/sell-page/Sell_Page_illustration_ESA.png">
                </div>


              </div>


              <div class="tools-element">

                <div class="tools-img">
                  <img class="img-tools" width="500px"
                    src="https://img0.etsystatic.com/site-assets/sell-page/Sell+Page+Product+Illustrations-01-min.png">
                </div>


                <div class="tools-text">

                  <h2>Llegue a un mundo de compradores</h2>
                  <p class="subt-l">Construya su marca con potentes herramientas de marketing.</p>

                  <div class="title-sub">
                    <h4>Haga crecer su seguimiento</h4>
                  </div>
                  <p class="subtitle">

                  Nuestras herramientas eliminan las conjeturas al crear las publicaciones perfectas para Facebook, Pinterest, Twitter o
                   Instagram.
                  </p>

                  <div class="title-sub">
                    <h4>Aumenta tu visibilidad</h4>
                  </div>
                  <p class="subtitle">
                  Llega a millones de compradores dentro y fuera de Etsy con nuestras herramientas publicitarias: anuncios de Etsy y anuncios externos. Con
                   Con Etsy Ads, tus anuncios son más visibles en la búsqueda de Etsy. Con Offsite Ads, pagaremos para publicitar su
                   listados en sitios como Google, Facebook, Instagram, Pinterest y Bing. Cuando haces una venta de
                   esos anuncios, usted paga una tarifa de publicidad en esa venta.
                  </p>

                  <div class="title-sub">
                    <h4>Atraer nuevos clientes</h4>
                  </div>
                  
                  <p class="subtitle">
                  Cree una oferta o un cupón para llamar la atención de los compradores o comuníquese con ellos directamente en sus bandejas de entrada con un
                   oferta dirigida.
                  </p>

                </div>



              </div>


              <div class="path-content">

                <div class="title-path">
                  <h1> Elige tu propio camino hacia el éxito</h1>
                  <p>
                    Etsy tiene herramientas diseñadas para cada etapa del crecimiento de tu negocio, sin importar cuán grandes sean tus ambiciones. Acceda a herramientas más avanzadas con un paquete de suscripción mensual opcional.
                  </p>
                </div>


              </div>
            </div>
          </div>
        </div>

      </section>


      <!-- 
        - # Standard
       -->



      <section class="tour-search">
        <div class="container">


          <div class="prices-content">

            <div class="price-element">
              <div class="price-img">
                <img src="https://cdn-icons-png.flaticon.com/512/8113/8113103.png" alt="" class="img-price-e">
              </div>

              <div class="price-text">
                <h2>Standard</h2>
                <p>Todo lo que necesita para iniciar, administrar y hacer crecer un negocio creativo</p>
                <p> Sin cargo mensual adicional</p>
              </div>
            </div>


            <div class="price-element">
              <div class="price-img">
                <img src="https://cdn-icons-png.flaticon.com/512/1589/1589592.png" alt="" class="img-price-e">
              </div>

              <div class="price-text">
                <h2>Plus</h2>
                <p>Un conjunto ampliado de herramientas para ayudar a impulsar el crecimiento y expresar su marca</p>
                <p> MX$203.90 al mes</p>
              </div>
            </div>

          </div>

          <div class="price-more">
            <p>El precio se basa en USD. Si la moneda de su banco no es USD, el precio puede variar con las tasas de cambio.
              Las tarifas estándar se aplican a todos los paquetes, incluidas las tarifas de listado y la tarifa de transacción actualizada.
            </p>
          </div>

        </div>
      </section>


      <!-- Sections de experiencia -->

      <section class="about" id="about">
        <div class="container">
          <div class="about-content">

            <p class="section-subtitle"> Herramientas </p>
            <h2 class="h2 section-title">Esto es lo que encontrarás en Etsy Plus</h2>


            <div class="fet-content">
              <div class="fet-two-element">

                <div class="fet-element">

                  <div class="fet-img">
                    <img width="50px"
                      src="https://cdn-icons-png.flaticon.com/512/869/869636.png">
                  </div>

                  <div class="fet-text">
                    <h1>Destaca con nuevas formas de personalizar tu tienda</h1>
                    <p>Tome el control de la apariencia de su tienda con opciones personalizables, incluidas nuevas plantillas de banner y
                      opciones de listado destacadas que ponen a sus productos en el centro de atención.</p>
                  </div>

                </div>

                <div class="fet-element">

                  <div class="fet-img">
                    <img width="50px"
                      src="https://cdn-icons.flaticon.com/png/512/3591/premium/3591548.png?token=exp=1659064736~hmac=489e4c6491a150ac93b73094edd57459">
                  </div>

                  <div class="fet-text">
                    <h1> Dile a los compradores que tus artículos están de vuelta en stock </h1>
                    <p>
                      No pierdas una venta por un artículo agotado. Envíe un correo electrónico a los compradores interesados cuando el artículo vuelva a estar disponible
                       stock y vea qué listados son los más populares para que pueda planificar su inventario.
                    </p>
                  </div>


                </div>

              </div>
              <div class="fet-two-element">

                <div class="fet-element">

                  <div class="fet-img">
                    <img width="50px"
                      src="https://cdn-icons.flaticon.com/png/512/2721/premium/2721725.png?token=exp=1659064840~hmac=633510333a96754508cf7c145b8facfc">
                  </div>

                  <div class="fet-text">
                    <h1> Envía clientes a tu propia dirección web </h1>
                    <p>Ahorre un 50 % en una dirección .com personalizada u obtenga una dirección .store gratis durante un año.
                      Tarjetas de visita y facilita a los clientes encontrar tu tienda de Etsy.</p>
                  </div>

                </div>

                <div class="fet-element">

                  <div class="fet-img">
                    <img width="50px"
                      src="https://cdn-icons-png.flaticon.com/512/3390/3390993.png">
                  </div>

                  <div class="fet-text">
                    <h1> Listado de bonificación y créditos publicitarios </h1>
                    <p>
                      Obtén 15 créditos para anuncios y 101,90 MX$ de crédito para anunciar tus artículos con Etsy Ads todos los meses.
                    </p>
                  </div>


                </div>

              </div>
            </div>


            <div class="price-more">
              <p>
                Puedes suscribirte a Plus después de abrir tu tienda de Etsy.
              </p>
            </div>

          </div>
        </div>
      </section>


      <section class="tour-search" id="about">
        <div class="container">
          <div class="about-content">

            <div class="title-help">
              <h3>Ayuda cuando la necesitas</h3>
              <p>
                Estamos comprometidos a ayudar a nuestros 1,8 millones de vendedores a prosperar, con apoyo y educación para tiendas grandes y
                 pequeña.
              </p>
            </div>

            <div class="help-content">
              <div class="help-element">

                <div class="help-img">
                  <img width="100px" src="https://cdn-icons-png.flaticon.com/512/7400/7400540.png">
                </div>

                <div class="help-text">
                  <h3> Habla con nosotros </h3>
                  <p> Comuníquese con nuestro personal de soporte por correo electrónico o solicite una llamada telefónica cada vez que tenga una pregunta. </p>
                </div>

              </div>

              <div class="help-element">

                <div class="help-img">
                  <img width="100px" src="https://cdn-icons-png.flaticon.com/512/1534/1534959.png">
                </div>

                <div class="help-text">
                  <h3> Consejos para el éxito </h3>
                  <p> Aprenda las mejores prácticas para su negocio con nuestro Manual del vendedor siempre actualizado. </p>

                </div>

              </div>


              <div class="help-element">

                <div class="help-img">
                  <img width="100px" src="https://cdn-icons-png.flaticon.com/512/1535/1535004.png">
                </div>

                <div class="help-text">
                  <h3> Boletín del vendedor </h3>
                  <p> 
                    Lee el boletín de Éxito de Etsy para obtener consejos sobre cómo mejorar tu tienda, entregados directamente a tu
                     bandeja de entrada.
                  </p>

                </div>

              </div>


            </div>

            <div class="help-content">

              <div class="help-element">

                <div class="help-img">
                  <img width="100px"
                    src="https://cdn-icons-png.flaticon.com/512/4185/4185489.png">
                </div>

                <div class="help-text">
                  <h3> Obtener consejos </h3>
                  <p> Haz preguntas y encuentra una comunidad de vendedores como tú en los foros y equipos de Etsy. </p>

                </div>

              </div>

            </div>

          </div>
        </div>
      </section>


      <section class="faq" id="faq">
        <div class="container">
          <div class="about-content">

            <div class="title-help">
              <h2>Preguntas frecuentes </h2>
              <p>Estas son algunas preguntas comunes sobre la venta en Etsy.</p>
            </div>

            <div class="faq-content">

              <div class="faq-group">

                <div class="faq-group-e">
                  <div class="fge-title">
                    <h3>¿Cómo funcionan las tarifas en Etsy?</h3>

                    <p class="faq-text-p">
                      Unirse y abrir una tienda en Etsy es gratis. Hay tres ventas básicas
                       tarifas: una tarifa de cotización, una tarifa de transacción y una tarifa de procesamiento de pagos. También hay publicidad
                       tarifa por las ventas que provienen de anuncios externos.
                    </p>


                    <p class="faq-text-p">
                      Cuesta MX$4.08 publicar un listado en el mercado. Una cotización dura cuatro meses o hasta
                       el artículo está vendido. Una vez que se vende un artículo, hay una tarifa de transacción del 6,5 % sobre el precio de venta (que incluye
                       el precio de envío que establezca). Si acepta pagos a través de Etsy Payments, también cobramos un 4,5%
                       + MX$10.00 cargo por procesamiento de pago cuando se vende un artículo.
                    </p>

                    <p class="faq-text-p">
                      Las tarifas de listado se facturan por $ 0.20 USD, por lo que si la moneda de su banco no es USD, la cantidad puede
                      difieren en función de los cambios en el tipo de cambio. La tarifa de procesamiento de pagos también puede variar según el banco.
                      país.
                    </p>

                    <p class="faq-text-p">Usted paga una tarifa de publicidad por cualquier venta que realice a través de anuncios externos. Cuando usted
                      abre tu tienda de Etsy, puedes decidir si quieres participar en los servicios publicitarios de Etsy.</p>

                    <p class="faq-text-p">
                      Leer mas
                    </p>

                  </div>
                </div>

                <div class="faq-group-e">
                  <div class="fge-title">
                    <h3>¿Cómo me pagan?</h3>
                    <p class="faq-text-p">
                      Con Etsy Payments, nuestro sistema de pago seguro y fácil de usar, puede aceptar pagos de una amplia variedad de métodos de pago, incluidas tarjetas de crédito y débito, PayPal, Google Wallet, Apple Pay y tarjetas de regalo de Etsy. Los fondos de sus ventas se depositan directamente en su cuenta bancaria en su moneda, sin importar cómo o desde dónde pague el comprador.
                    </p>
                    <p class="faq-text-p"> Leer mas</p>
                  </div>
                  
                </div>

                <div class="faq-group-e">
                  <div class="fge-title">
                    <h3>¿Necesito una tarjeta de crédito o débito para crear una tienda?</h3>
                    <p class="faq-text-p">
                      No, no se requiere una tarjeta de crédito o débito para crear una tienda. Para ser verificado como vendedor, tiene la opción de usar una tarjeta de crédito o registrarse a través de PayPal. No incurrirá en ningún cargo hasta que abra su tienda y publique sus listados.</p>


                  </div>


                  
                </div>


              </div>


              <div class="faq-group">

                <div class="faq-group-e">
                  <div class="fge-title">
                    <h3>¿Qué debo hacer para crear una tienda?</h3>

                    <p class="faq-text-p"> 
                      Es fácil configurar una tienda en Etsy. Cree una cuenta de Etsy (si aún no tiene una), establezca la ubicación y la moneda de su tienda, elija un nombre de tienda, cree una lista, establezca un método de pago (cómo desea que le paguen) y, finalmente, establezca un método de facturación. (cómo quieres pagar tus tarifas de Etsy).
                    </p>


                    <p class="faq-text-p"> Leer mas.</p>


                  </div>
                </div>

                <div class="faq-group-e">
                  <div class="fge-title">
                    <h3>¿Qué puedo vender en Etsy?</h3>
                    <p class="faq-text-p"> 
                      Etsy ofrece un mercado para que los artesanos, artistas y coleccionistas vendan sus creaciones hechas a mano, productos antiguos (de al menos 20 años) y suministros de artesanía tanto hechos a mano como no hechos a mano.
                      Aprende más
                    </p>

                  </div>
                </div>


                <div class="faq-group-e">
                  <div class="fge-title">
                    <h3>¿Cómo protege Etsy a los vendedores?</h3>
                    <p class="faq-text-p"> 
                      La Protección al vendedor es un programa que le ofrece tranquilidad en caso de disputa por una transacción. Si no puede resolver un desacuerdo con un comprador y la transacción cumple con los requisitos de elegibilidad, Etsy lo ayudará a resolver el problema a través de nuestro sistema de resolución de disputas.
                    </p>

                    <p class="faq-text-p">Leer mas</p>

                  </div>


                  
                </div>


              </div>


            </div>


            <!-- <div class="help-more-information">

              <h3></h3>

              <p></p>

              <button> More information  </button>

            </div> -->

          </div>
        </div>
      </section>




      </article>
    </main>
  </div>
</div>
