<nz-spin [nzSpinning]="isSpinning">
  
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    
      <p class="presentacion-title"><span class="welcome">Restablece tu contraseña </span>, Ingresa los datos correspondientes. </p>
    
        <nz-form-item hidden class="input-content">
          <nz-form-control nzErrorTip="Campo obligatorio">
            <nz-input-group nzPrefixIcon="number">
              <input type="text" nz-input formControlName="email" placeholder="Código de verificación" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        
        <nz-form-item hidden  class="input-content">
          <nz-form-control nzErrorTip="Campo obligatorio">
            <nz-input-group nzPrefixIcon="number">
              <input type="text" nz-input formControlName="token" placeholder="Código de verificación" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
    
    
        <nz-form-item class="input-content" > 
          <nz-form-control nzErrorTip="Campo obligatorio">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Nueva contraseña" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="input-content" > 
            <nz-form-control  nzErrorTip="Campo obligatorio">
              <nz-input-group  nzPrefixIcon="lock">
                <input  type="password" nz-input formControlName="newPassword" placeholder="Confirma tu nueva contraseña" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        
          

        
          <button class="button-9" role="button">Restablecer contraseña</button>
        
      <div class="footer">
        <!-- <p class="text-in" routerLink="/register" >¿Eres nuevo?</p> -->
        <a class="text-in" routerLink="/auth/login" > Ir al login </a>
        <a class="text-on" routerLink="/privacy-policies" > Aviso de privacidad </a>
      </div>
    
      
      </form>
    
    </nz-spin>