
<section class="login-container" >
    <div class="container-flex"  >
  
          <!-- <img class="intro-img" alt="Image placeholder" src="assets/macropay/mascota_macro.png" style="  border: 0px transparent #ddd; border-radius: 4px; padding: 5px; width: 50%; "/>    -->
      
      <!-- Banner -->
      <div class="banner-login">
        <div class="title-banner">
          <!-- <h5>Portal de viajes</h5> -->
        </div>
      </div>
  
      <div class="form">      
        <!-- Tarjeta o Formulario -->
     <div class="card-login">
  
     <div class="logo-macropay"> 
       <a  routerLink="/" > <img alt="Image placeholder" class="img-login" src="../../../assets/images/logo-b.png"/> </a>
       <!-- <h3 class="content-sap" ><span>  <a class="sap" routerLink="/" > PROADEBI </a></span> | <span class="services-text"> Protección de bienes </span></h3> -->
    </div>

      <div>
        <router-outlet></router-outlet>    
      </div> 
  
    </div>
  </div>
  
  
  
  
    </div>
  </section>
  