<!-- <main [@routeAnimations]="prepareRoute(outlet)" class="content">
    <router-outlet #outlet="outlet" ></router-outlet>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#f6b600" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
</main> -->

    <router-outlet></router-outlet>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.6)" size="medium" color="#f6b600" type="line-scale" [fullScreen]="true"><br><img style="margin:10px 0px;" src="assets/images/logo-wbw.png" width="200px" alt="" style="">