
.body-content {
  width: 100%;
}

.content-profile {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
 }

 .body{ 
  display: none;
 }

 .img-user-content {
  width: 30%;
  margin: 0px 20px 0px 0px;
  display: flex;
  justify-items: center;
  flex-direction: column;
 }

 .more-information-user {
  width: 30%;
  padding: 20px;
  margin: 10px 0px;
  background-color: #8b8784;
 }

 .content-information {
  width: 70%;
  /* padding: 50px; */
 }

 .content-information-header {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
 }


 .content-information-footer {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
 }

 .buttons-content {
  padding: 10px 0px;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
 }

 .content-information-body {
  width: 100%;
  padding: 15px;
  background-color: #47a398;    
 }


.card {
  /* margin: 40px 100px 200px; */
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.cover-bg {
  width: 100%;
  height: 120px;
  background: #b4e2d6;
  background: url("https://images.pexels.com/photos/131683/pexels-photo-131683.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") no-repeat center;
  background-size: 260%;
  border-radius: 5px 5px 0 0;
}

.user-info {
  padding-left: 0px;
  padding-top: 10px;
}

.user-info-wrap {
  display: flex;
  padding: 0 20px;
}

.user-name {
  font-weight: 500;
  font-size: 20px;
  font-weight: 400;
  color: #282828;
  margin-top: -5px;
}
.user-title {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
  display: block;
  margin-top: 5px;
}

.user-photo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background: #fff url("https://gajuarezdelac.github.io/assets/images/2.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.user-bio {
  padding: 20px;
}
.user-bio p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 40px;
}
.social {
  display: flex;
  justify-content: space-between;
}
.social-icons {
  display: flex;
}
.social a {
  display: block;
  height: 20px;
  color: #a9a9a8;
  margin-right: 13px;
  transition: all 0.3s ease-in-out 0s;
}
.social a .fa {
  height: 32px;
}
.social a:hover {
  color: #47a398;
}
.social .message a {
  margin: 0;
}


.btn-blue {
  background-color: rgb(184, 19, 19) !important;
  border-color: white !important;
  color: white !important;
}



.btn-green {
  background-color: green !important;
  border-color: white !important;
  color: white !important;
}


p.p-w {
  margin: 1px;
  padding: 0px;
}

.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0e65c8;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 51px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}


.button-23 {
  align-items: center;
  appearance: button;
  background-color: #2a2a2a;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: rgb(255, 225, 0);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 51px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-23:active {
  background-color: #3b3b3b;
}

.button-23:hover {
  
  background-color: #3c3c3c;
}
 

.tags{
  margin: 0px 0px 6px 0px;
}

/* Buttons customizable */


.buttons-verification {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}

.button-v {
  width: 100%;
  margin: 10px 5px 0px 5px;
  padding: 9px 0px;
  background-color: #0e65c8;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  color: #fff;
  cursor: pointer;
  border: #fff;
  border-radius: 5px;
  line-height: 1.15;
}

.button-v:active {
  background-color: #006AE8;
}

.button-v:hover {
  background-color: #1C84FF;
}
 
.starts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 600;

}


/* Navbar */


.logo {
display: flex;
justify-content: center;
align-items: center;
}


.logo-img {
width: 170px;
}

nav{
/* position: fixed; */
z-index: 99;
width: 100%;

background: #000000;
}
nav .wrapper{
position: relative;
max-width: 1300px;
padding: 0px 30px;
height: 95px;
line-height: 70px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
}
/* 
.wrapper .logo a{
color: #f2f2f2;
font-size: 30px;
font-weight: 600;
text-decoration: none;
} */
.wrapper .nav-links{
display: inline-flex;
}
.nav-links li{
list-style: none;
}

.nav-links li a.btn-login {
color: #faf200;
background: #3A3B3C;
text-decoration: none;
font-size: 18px;
font-weight: 500;
padding: 9px 15px;
border-radius: 5px;
margin: 0px 0px 0px 8px;
transition: all 0.3s ease;
}



.nav-links li a.btn-login:hover{
background: #3A3B3C;
}


.nav-links li a.btn-profile {
color: #fa004b;
background: #3A3B3C;
text-decoration: none;
font-size: 18px;
font-weight: 500;
padding: 9px 15px;
border-radius: 5px;
margin: 0px 0px 0px 8px;
transition: all 0.3s ease;
}



.nav-links li a.btn-profile:hover{
background: #3A3B3C;
}



.nav-links li a{
color: #f2f2f2;
text-decoration: none;
font-size: 18px;
font-weight: 500;
padding: 9px 15px;
border-radius: 5px;
transition: all 0.3s ease;
}
.nav-links li a:hover{
background: #3A3B3C;
}
.nav-links .mobile-item{
display: none;
}
.nav-links .drop-menu{
position: absolute;
background: #242526;
width: 180px;
line-height: 45px;
top: 85px;
opacity: 0;
visibility: hidden;
box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
transition: all 0.3s ease;
top: 70px;
opacity: 1;
visibility: visible;
}
.drop-menu li a{
width: 100%;
display: block;
padding: 0 0 0 15px;
font-weight: 400;
border-radius: 0px;
}
.mega-box{
position: absolute;
left: 0;
width: 100%;
padding: 0 30px;
top: 85px;
opacity: 0;
visibility: hidden;
}
.mega-box .content{
background: #242526;
padding: 25px 20px;
display: flex;
width: 100%;
justify-content: space-between;
box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
width: calc(25% - 30px);
line-height: 45px;
}
.content .row img{
width: 100%;
height: 100%;
object-fit: cover;
}
.content .row header{
color: #f2f2f2;
font-size: 20px;
font-weight: 500;
}
.content .row .mega-links{
margin-left: -40px;
border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
padding: 0 20px;
}
.row .mega-links li a{
padding: 0px;
padding: 0 20px;
color: #d9d9d9;
font-size: 17px;
display: block;
}
.row .mega-links li a:hover{
color: #f2f2f2;
}
.wrapper .btn{
color: #fff;
font-size: 20px;
cursor: pointer;
display: none;
}
.wrapper .btn.close-btn{
position: absolute;
right: 30px;
top: 10px;
}

@media screen and (max-width: 970px) {
.wrapper .btn{
  display: block;
}
.wrapper .nav-links{
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 350px;
  top: 0;
  left: -100%;
  background: #242526;
  display: block;
  padding: 50px 10px;
  line-height: 50px;
  overflow-y: auto;
  box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
  transition: all 0.3s ease;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #242526;
}
::-webkit-scrollbar-thumb {
  background: #3A3B3C;
}
#menu-btn:checked ~ .nav-links{
  left: 0%;
}
#menu-btn:checked ~ .btn.menu-btn{
  display: none;
}
#close-btn:checked ~ .btn.menu-btn{
  display: block;
}
.nav-links li{
  margin: 15px 10px;
}
.nav-links li a{
  padding: 0 20px;
  display: block;
  font-size: 20px;
}
.nav-links .drop-menu{
  position: static;
  opacity: 1;
  top: 65px;
  visibility: visible;
  padding-left: 20px;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  box-shadow: none;
  transition: all 0.3s ease;
}
#showDrop:checked ~ .drop-menu,
#showMega:checked ~ .mega-box{
  max-height: 100%;
}
.nav-links .desktop-item{
  display: none !important;
}

.ad {
  display: none !important;
}

.nav-links .mobile-item{
  display: block;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links .mobile-item:hover{
  background: #3A3B3C;
}
.drop-menu li{
  margin: 0;
}
.drop-menu li a{
  border-radius: 5px;
  font-size: 18px;
}
.mega-box{
  position: static;
  top: 65px;
  opacity: 1;
  visibility: visible;
  padding: 0 20px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.mega-box .content{
  box-shadow: none;
  flex-direction: column;
  padding: 20px 20px 0 20px;
}
.mega-box .content .row{
  width: 100%;
  margin-bottom: 15px;
  border-top: 1px solid rgba(255,255,255,0.08);
}
.mega-box .content .row:nth-child(1),
.mega-box .content .row:nth-child(2){
  border-top: 0px;
}
.content .row .mega-links{
  border-left: 0px;
  padding-left: 15px;
}
.row .mega-links li{
  margin: 0;
}
.content .row header{
  font-size: 19px;
}
}
nav input{
display: none;
}



.ad{
background-color: rgb(255, 174, 0);
margin: 0px;
padding: 10px;
color: rgb(0, 0, 0);
text-align: center;
font-size: 20px;
font-weight: bold;
}

nz-tag.ap {
padding: 3px 12px !important;
}

.card-user-edit:hover i.icon-edit-i {
color: rgb(0, 0, 0);
}

i.icon-edit-i {
color: white;
font-size: 25px;
margin: 0px 10px 0px 0px;
}

.circle {
border-radius: 50%;
height: 100px;
width: 100px;
overflow: hidden;
display: flex;
justify-content: center;
object-fit: cover;
background-color: #006AE8;
}




.h1-text {
font-size: 2.0em;
text-align: center;
margin: 0px 0px 20px 0px;
}


.box {
position: relative;
min-width: 95%;
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
margin: 0px 0px 20px 0px;
position: relative;
border-radius: 10px;
}


.top-bar {
width: 50%;
height: 4px;
background: #507bfc;
position: absolute;
top: 0px;
left: 50%;
transform: translateX(-50%);
border-radius: 0px 0px 10px 10px;
}

.top {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

.fa-check-circle {
color: #17b667;
}

/* creating heart */
.heart {
color: rgba(155, 155, 155);
}

.heart::before {
content: '\f004';
font-family: fontawesome;
line-height: 30px;
cursor: pointer;
z-index: 1;
transition: all 0.3s;
}

.box .heart-btn:checked~.heart::before {
color: #e41934
}


.heart-btn {
position: absolute;
top: 25px;
right: 20px;
padding: 1rem;
display: none;
}


.box .content img {
border: 5px dotted #c8c8c8;
width: 140px;
height: 140px;
border-radius: 100px;
overflow: hidden;
object-fit: cover;
object-position: top;
}

.box .content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.box .content strong {
font-weight: 500;
color: #141414;
margin-top: 10px;
}

.box .content p {
font-size: 0.9rem;
color: #7a7a7a;
margin: 4px 0px 10px 0px;
}

.box .content p:hover {
text-decoration: underline;
}


.box .btn {
margin-top: 5px;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

.box .btn a i {
margin-right: 9px;
}

.box .btn a {
border-radius: 20px;
color: #8b8b8b;
padding: 8px 20px;
font-size: 0.9rem;
}

.box .btn a:hover {
color: #fff;
box-shadow: 2px 5px 15px rgba(80, 123, 252, 0.05);
background-color: #507bfc;
transition: all ease 0.5s;
}


.content-img i {

color: rgb(255, 255, 255);
font-size: 25px;
}

.content-img:hover i {
color: rgb(255, 255, 255);
font-size: 35px;
}

.content-img {
position: relative;
text-align: center;
}




.content-form-1 {
width: 100%;
display: flex;
justify-content: space-between;
}

.input-label {
margin: 0px 0px 3px 0px;
}

.size-box-a{
display: block;
margin: 14px 5px;
}

.add-certificate {
width: 100%;
margin: 2px ;
padding: 0px;
}

nz-date-picker {
width: 100%;
}

nz-form-label {
display: block !important;
width: 100%;
text-align: left;
}




.col-flex {
width: 100%;
display: flex;
justify-content: space-between;
}

.ant-picker{
 width: 200px !important;
}

.input-content {
width: 49%;
margin: 5px 0px 10px 0px; 
}



.textarea-content {
width: 100%;
margin: 15px 0px 0px 0px;
border-radius: 10px;
}


.header-exp {
display: flex;
justify-content: space-between;
align-items: center;
margin: 20px 0px 20px 0px;    
}

.header-exp .title {

font-weight: bold;
}


.f {
border-radius: 10px;
padding: 10px 10px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card-exp {
padding: 20px;
margin: 5px 0px;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.title-card p{
font-size: 15px;
font-weight: 500;
margin: 0px;
padding: 0px;
}

.status {
overflow-wrap: break-word;
}

.subtitle-card p{

font-size: 13px;
font-weight: 300;
margin:0px 0px 0px 0px;
padding: 0px;
}

.skill-list {

display: flex;
justify-content: initial;
flex-wrap: wrap;
margin: 15px 0px;
border-radius: 10px;
padding: 10px 10px 20px 10px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.skill-element {

padding: 5px 10px;
font-size: 14px;
font-weight: 600;
margin: 5px 7px;
background-color: rgb(65, 139, 40);
color: white;
border-radius: 10px;
}

.card-edu {
display: flex;
align-items: center;
justify-content: space-between;
margin: 10px 0px;
border-radius: 10px;
padding: 15px 10px 15px 10px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.card-edus {
display: flex;
align-items: center;
justify-content: center;
margin: 15px auto;
border-radius: 10px;
padding: 10px 10px 20px 10px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card-eduss {
display: flex;
align-items: center;
justify-content: center;
margin: 15px auto;
border-radius: 10px;
padding: 10px 10px 20px 10px;
}

.title-edu p{
margin: 0px;
}

.row-more {
display: flex;
justify-content: space-between;
width: 100%;
}

.element-more {
width: 32%;
display: flex;
flex-direction: column;
}

.flex-principal {
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}

.p-s{
width: 100%;
margin:0px 0px;
padding: 0px 40px 0px 0px;
font-size: 1.0em;
overflow-wrap: break-word;
}

.span-small {
font-size: 10px;
font-weight: 100;
}

i.icon-edit-i {
color: white;
font-size: 22px;
margin: 0px 10px 0px 0px;
}


.card {
padding: 5px;
}




.icon-edit {
display: flex;
justify-content: flex-end;
}

.we {
width: 100%;
overflow-wrap: break-word;
}

.info {
width: 100%;
max-width: 90%;
}

.descripcion {
width: 100%;
overflow-wrap: break-word;
margin: 5px 0px;
}
.tag-a {
margin: 5px 5px;
}


.pd-1 {
margin: 0px 10px;
}

.flex-xap {
display: flex;
justify-content: space-between;
}
