<div class="content-principal">

    <div class="proyect-section">
        <div class="project-description">
          <nz-page-header
          class="site-page-header"
          (nzBack)="onBack()"
          nzBackIcon
          nzTitle="Actualización de datos de una empresa (Datos esenciales)"
        ></nz-page-header>
          
         
            <div class="dl">
                <div class="text">
                    <p>😅 En esta sección te permitiremos crear una empresa con la cual estarás relacionando tus ofertas, dicha empresa de igual manera nos ayudará a generar tus facturas por lo cual te sugerimos llenar los datos correctamente.</p>
                </div>
            </div>


            <div class="content-s">

               <div class="img-left">
                <label for="file">
                    <div class="content-img">
                      <img [src]="previewImage"
                      alt="" />
                      <div class="centered">
                        <i nz-icon nzType="camera" nzTheme="outline"></i>
                      </div>
          
                      
                    </div>
                  </label>
          
                  <input id="file"
                  class="absolute w-full h-full"
                  ref="file"
                  type="file"
                  (change)="handleChange($event)"
                  accept="image/*" style=" visibility: hidden;"/>

                  <p  nz-popover nzPopoverTitle="Permites que tu empresa sea visible en las búsquedas y al visualizar las ofertas relacionadas a esta."  nzPopoverPlacement="topRight">
                    
                    Mostrar empresa </p>
                  <nz-switch [(ngModel)]="currentElement && currentElement.isvisible" nzCheckedChildren="Publica" nzUnCheckedChildren="Privada"></nz-switch>


               </div>

               <div class="info">

                <form nz-form [nzLayout]="'vertical'" [formGroup]="createForm" class="login-form" (ngSubmit)="submitForm()">
                 
                    <div nz-row [nzGutter]="24">
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <div class="inner-box">
                          <nz-form-item class="input-content">
                            <nz-form-label nzFor="email"> Nombre de la empresa </nz-form-label>
                            <nz-form-control nzErrorTip="Campo requerido">
                                 <input type="text" class="input-text" nzSize="large" nz-input
                                  placeholder="Nombre de la empresa" formControlName="name" [ngModel]="currentElement && currentElement.name" />
                           
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                
                      <div nz-col class="gutter-row" [nzSpan]="12">
                        <div class="inner-box">
                          <nz-form-item class="input-content">
                            <nz-form-label  nzFor="surnames"> Categoria de la empresa </nz-form-label>
                            <nz-form-control nzErrorTip="Campo requerido">
                                <nz-select nzShowSearch nzAllowClear [nzSize]="'large'" nzPlaceHolder="Selecciona una categoría" formControlName="category" [ngModel]="currentElement && currentElement.category" >
                                <nz-option *ngFor="let data of listCategory" [nzLabel]="data.name" [nzValue]="data.name"></nz-option>
                            </nz-select>        
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                
                    
                    </div>

                    <div nz-row [nzGutter]="24">
                        <div nz-col class="gutter-row" [nzSpan]="12">
                          <div class="inner-box">
                            <nz-form-item class="input-content">
                              <nz-form-label nzFor="email"> Tamaño de la empresa </nz-form-label>
                              <nz-form-control nzErrorTip="Campo requerido">
                                <nz-select nzShowSearch nzAllowClear [nzSize]="'large'" nzPlaceHolder="Número de personas en tu empresa" formControlName="size" [ngModel]="currentElement && currentElement.sizeCompany">
                                <nz-option *ngFor="let data of listSize" [nzLabel]="data.size" [nzValue]="data.size"></nz-option>
                            </nz-select>      
                             
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                        </div>
                  
                        <div nz-col class="gutter-row" [nzSpan]="12">
                            <div class="inner-box">
                              <nz-form-item class="input-content">
                                <nz-form-label  nzFor="email">  Regimen fiscal </nz-form-label>
                                <nz-form-control nzErrorTip="Campo requerido">
                                <nz-select   formControlName="regimenFiscal" nzShowSearch nzAllowClear [nzSize]="'large'" nzPlaceHolder="Selecciona un estado" [ngModel]="currentElement && currentElement.regimenFiscal">
                                    <nz-option *ngFor="let data of listRegimen" [nzLabel]="data.regimen" [nzValue]="data.regimen"></nz-option>
                                </nz-select>      
                                </nz-form-control>
                              </nz-form-item>
                            </div>
                          </div>
                  
                        <div nz-col class="gutter-row" [nzSpan]="12">
                          <div class="inner-box">
                            <nz-form-item class="input-content">
                              <nz-form-label  nzFor="email"> RFC </nz-form-label>
                              <nz-form-control nzErrorTip="Campo requerido">
                                <input type="text" class="input-text" nzSize="large" nz-input placeholder="Registro Federal de Contribuyentes"  formControlName="rfc"  [ngModel]="currentElement && currentElement.rfc"/>           
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                        </div>

                        <div nz-col class="gutter-row" [nzSpan]="12">
                            <div class="inner-box">
                              <nz-form-item class="input-content">
                                <nz-form-label  nzFor="email"> Linkedin </nz-form-label>
                                <nz-form-control nzErrorTip="Campo requerido">
                                  <input type="text" class="input-text" nzSize="large" nz-input placeholder="URL de Linkedin"  formControlName="urlLinkedin" [ngModel]="currentElement && currentElement.urlLinkedin"/>           
                                </nz-form-control>
                              </nz-form-item>
                            </div>
                          </div>


                          <div nz-col class="gutter-row" [nzSpan]="12">
                            <div class="inner-box">
                              <nz-form-item class="input-content">
                                <nz-form-label  nzFor="email"> Número de contacto </nz-form-label>
                                <nz-form-control nzErrorTip="Campo requerido">
                                  <input type="text"  class="input-text" nzSize="large" nz-input placeholder="Número de contacto"  formControlName="numberPhone" [ngModel]="currentElement && currentElement.numberPhone"/>           
                                </nz-form-control>
                              </nz-form-item>
                            </div>
                          </div>
  
                          <div nz-col class="gutter-row" [nzSpan]="12">
                              <div class="inner-box">
                                <nz-form-item class="input-content">
                                  <nz-form-label  nzFor="email"> E-mail de contacto </nz-form-label>
                                  <nz-form-control nzErrorTip="Campo requerido">
                                    <input type="email" class="input-text" nzSize="large" nz-input placeholder="Email de contacto"  formControlName="emailContact" [ngModel]="currentElement && currentElement.emailContact" />           
                                  </nz-form-control>
                                </nz-form-item>
                              </div>
                          </div>

                          <div nz-col class="gutter-row" [nzSpan]="24">
                            <div class="inner-box">
                              <nz-form-item class="input-content">
                                <nz-form-label  nzFor="email"> Sitio web de la empresa </nz-form-label>
                                <nz-form-control nzErrorTip="Campo requerido">
                                    <input type="text" class="input-text" formControlName="urlSite" nzSize="large" nz-input placeholder="Sitio web o página de la empresa" [ngModel]="currentElement && currentElement.urlSite" />
                                </nz-form-control>
                              </nz-form-item>
                            </div>
                          </div>
                      </div>

                      <div class="">
                        <div class="" nz-row >
                            <div nz-col class="gutter-row" [nzSpan]="24">
                                <div class="inner-box">
                                    <nz-form-item nzErrorTip="Campo requerido">
                                        <nz-form-label  nzFor="email"> Dirección fiscal </nz-form-label>
                                        <nz-form-control>
                                            <nz-textarea-count [nzMaxCharacterCount]="70">
                                                <textarea formControlName="address" [ngModel]="currentElement && currentElement.address" rows="5" nz-input
                                                    placeholder="Escribe la dirección fiscal o bien la dirección de tu oficina principal"></textarea>
                                            </nz-textarea-count>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                          </div>
                      </div>

                      <div class="">
                        <div class="" nz-row >
                            <div nz-col class="gutter-row" [nzSpan]="24">
                                <div class="inner-box">
                                    <nz-form-item nzErrorTip="Campo requerido">
                                        <nz-form-label  nzFor="email"> Descripción de empresa </nz-form-label>
                                        <nz-form-control>
                                            <nz-textarea-count [nzMaxCharacterCount]="400">
                                                <textarea formControlName="description" [ngModel]="currentElement && currentElement.description" rows="10" nz-input
                                                    placeholder="Cuéntanos  un poco acerca de la empresa y que te gustaria contarle a las personas que visualicen tu muro."></textarea>
                                            </nz-textarea-count>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                          </div>
                      </div>
                      
                    <div class="button-super">
                        <nz-space>
                            <button *nzSpaceItem nz-button class="button-blue pd-1">Actualizar empresa</button>
                        </nz-space>
                    </div>
        

                      
                  </form>

               </div>
          


            </div>



        </div>
    </div>

</div>