<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">

      <p class="presentacion-title"><span class="welcome">Bienvenido</span>, Ingresa tus datos para iniciar sesión: </p>
    
      <nz-form-item class="input-content">
        <nz-form-control nzHasFeedback nzErrorTip="Correo electrónico invalido">
          <nz-input-group nzPrefixIcon="mail">
            <input type="text" nzSize="large" nz-input formControlName="username" placeholder="Escribe tu correo electrónico" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item class="input-content" > 
        <nz-form-control nzHasFeedback nzErrorTip="Por favor, ingresa tu contraseña">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Escribe tu contraseña" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <label class="remember" nz-checkbox formControlName="remember">
              <span> Recordar mi usuario </span>
            </label>
    
             
        <nz-form-item class="input-content">
          <nz-form-control>
            <form [formGroup]="validateForm">
              <ngx-recaptcha2 formControlName="recaptcha" #captchaElem
                [siteKey]="siteKey"
                formControlName="recaptcha">
              </ngx-recaptcha2>
            </form>
          </nz-form-control>
        </nz-form-item>
    
    
          </div>
          <div nz-col [nzSpan]="12">
            <a class="login-form-forgot" routerLink="/auth/recovery-password">¿Olvidaste tu contraseña? </a>
          </div>
        </div>
        <!-- <button   nz-button class="login-form-button login-form-margin" [nzType]="'primary'"> Iniciar sesión </button> -->

        <button class="button-9" role="button">Ingresar</button>

        <p class="or"> Ó </p>

        <button  type="button" class="button-10" routerLink="/auth/register" role="button">Registrarme</button>
        
     
    
      
      </form>
  
      <div class="footer">
        <!-- <p class="text-in" routerLink="/register" >¿Eres nuevo?</p> -->
        
        <a class="text-in" routerLink="/auth/register" >  </a>
      </div>