
.statists {
    display: flex;
    justify-content: space-between;
  }

  .table {
    background-color: rgb(242, 242, 242) !important;
    padding-top: 20px 40px;
    border-radius: 10px;
  }
  
  nz-empty {
    padding: 20px;
  }

  #customers {
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 0.4 px solid #ddd;
    padding: 8px;
    font-weight: 400;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#fafafa;
    color: rgb(19, 18, 18);
  }



  .card-s {
    padding: 10px 10px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 30%;
    margin: 0px 0px 30px 0px;
    border-radius: 10px;
  }
  
  .statists-2 {
    display: flex;
    justify-content: space-around;
  }
  
  .card-sp {
    width: 30%;
  }

  .filters {
    margin: 0px 0px 20px 0px;
  }

   input {
    width: 400px;
  }